body{
    background-color:#4b92de ;
  
  }
  
  
  #card0{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 350px;
   left:300px;
    right: 50px;
  }
  #card1{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left:300px;
    top:400px;
  }
  #card2{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom:546px;
    left:800px;
    
  }
  #card3{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left:800px;
    bottom:450px;
  }
  
  .image{
    margin-top:300px;
    align-self: center;
    
  }