
h2{
  margin-top: 50px;
  margin-left: 900px;
  font-size: 40px;
  color: #525985
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
ul {list-style-type: none;}

#frm1{
  text-align: left;
}

#form2{
    text-align: left;
}
.container {
  display: flex;
  position:absolute;
  margin-left: 100px;
  margin-right: 90px;
  margin-top: 3000px;
}

h2{
  font-size: 10000px;
}